{% extends "public/_layout.html" %}
{% block title %} {{ album.title }} {% endblock %}
{% block body %}
  {% load staticfiles %}
  <section class="row">
    <div class="col-md-4">
      <img src="{% static album.logo %}" class="img-fluid img-responsive">
    </div>
    <div class="col-md-8 text-muted">
      <h1 class="page-header">{{ album.title }} by <span class="text-uppercase">{{ album.artist }}</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum eaque earum hic
        illo, molestiae quia repudiandae vitae. A commodi cupiditate deleniti illo laudantium quaerat quo similique
        totam velit
        voluptate.</p>
      <!-- Show album songs -->
      <div>
        {% if album.song_set %}
          <h4 class="panel-title">{{ album.song_set.count }} songs in this album</h4>
          <ul class="list-group">
            {% for song in album.song_set.all %}
              <li class="list-group-item">
                <div>
                  <span class="text-capitalize">{{ song.title }}</span> &nbsp;
                  &bull; {{ song.file_type }}
                </div>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h3>Oops... This album contains no songs yet.</h3>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
